body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
   
  #canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    background-color: #f0f0f0;
  }

 #uploadImage {
  position: relative;
  bottom: 600px;
 }