@font-face {
    font-family: 'spratcondensed_thin';
    src: url('sprat-condensedthin-webfont.woff2') format('woff2'),
         url('sprat-condensedthin-webfont.woff') format('woff');
    font-weight: thin;
    font-style: normal;

}

@font-face {
  font-family: 'spratextended_bold';
  src: url('sprat-extendedbold-webfont.woff2') format('woff2'),
       url('sprat-extendedbold-webfont.woff') format('woff');
  font-weight: thin;
  font-style: normal;

}

body {
  font-family: 'spratcondensed_thin'!important;
  background-color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#canvasContainer2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1620px;
  backdrop-filter: blur(20px);
  pointer-events: none; /* to allow mouse events to go through the overlay */
  display: none; /* initially hidden */
  background-color: rgba(0, 0, 0, 0.1); /* make sure there is some transparency */
  z-index: 10; /* set z-index between the content and the fullscreen image */
}

#navigation {
  color: #ffffff;
  z-index: 10;
}

button {
  
  all: unset;
}

#buttonsContainer {
  font-family: 'spratcondensed_thin'!important;
  position: absolute;
  bottom: 0;  
  left: 0;  
  right: 0;  
  z-index: 10;
  display: flex;
  flex-direction: row;  
  justify-content: space-around; 
  background-color: transparent;  
}

#buttonsContainer button {
  /* initial styles */
  height: 30px;
  margin-bottom: 30px;
  width: 130px;
  text-align: center;
  border: 1px solid #ffffff;

  border-radius: 80px;
  color: #ffffff;
  font-family: 'spratcondensed_thin';
  transition: all 20s linear;
}

#buttonsContainer button.alt {
  /* alternate styles */
  width: 200px;
  border: 1pxsolid #ffffff00;
  background-color: #ff00d0; /* Change color to red */
  border-radius: 0px; /* Less round edges */
  font-family: 'spratextended_bold'; /* Different font */
}

#buttonsContainer button:hover {
  cursor: pointer;
}

.transparent-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  z-index: 4;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  cursor: se-resize;
  pointer-events: auto;
}

.marquee-top {
  font-family: 'spratcondensed_thin';
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #fff;
  background-color: #00000000;
  transition: background-color 2s,
}

.marquee-top.alt {
  font-family: 'spratcondensed_thin';
  background-color: #ff0000;
}

.marquee-bottom {
  font-family: 'spratcondensed_thin';
  bottom: 0;
  overflow: hidden;
  position: fixed;
  white-space: nowrap;
  z-index: 5;
  border-top: 1px solid #fff;
  background-color: #00000000;
  transition: background-color 1s;  
}

.marquee-bottom.alt {
  font-family: 'spratcondensed_thin';
  background-color: #ff0000;
}

.marquee-content {
  width: fit-content;
  display: flex;
  animation: marquee 40s linear infinite;
  color:#ffffff;
}

.marquee-content span {
  padding-right: 50px; /* Give some space between the two identical pieces of text */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

