@font-face {
  font-family: '00BusinessHistory-Regular';
  src: url(' 00BusinessHistory-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: '00BusinessHistory-Regular'!important;
  background-color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#canvasContainer2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

button {
  all: unset;
}

#buttonsContainer {
  font-family: '00BusinessHistory-Regular'!important;
  position: absolute;
  top: 150px;
  left: 45px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#buttonsContainer button {
  /* initial styles */
  height: 30px;
  margin-bottom: 30px;
  width: 130px;
  text-align: center;
  border: 1px solid #ffffff;
  background-color: #00000000;
  border-radius: 80px;
  color: #ffffff;
  font-family: '00BusinessHistory-Regular';
  transition: all 20s linear;
}

#buttonsContainer button.alt {
  /* alternate styles */
  border: 1px solid #ffffff00;
  background-color: #ff00d0; /* Change color to red */
  border-radius: 0px; /* Less round edges */
  font-family: '00BusinessHistory-Regular'; /* Different font */
}

#buttonsContainer button:hover {
  cursor: pointer;
}

.saveButton {
  position: absolute;
  top: 300px;
}

.transparent-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  z-index: 4;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  cursor: se-resize;
  pointer-events: auto;
}

.marquee-top {
  font-family: '00BusinessHistory-Regular';
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #fff;
  background-color: #00000000;
  transition: background-color 2s,
}

.marquee-top.alt {
  font-family: '00BusinessHistory-Regular';
  background-color: #ff0000;
}

.marquee-bottom {
  font-family: '00BusinessHistory-Regular';
  bottom: 0;
  overflow: hidden;
  position: fixed;
  white-space: nowrap;
  z-index: 10;
  border-top: 1px solid #fff;
  background-color: #00000000;
  transition: background-color 1s;  
}

.marquee-bottom.alt {
  font-family: '00BusinessHistory-Regular';
  background-color: #ff0000;
}

.marquee-content {
  width: fit-content;
  display: flex;
  animation: marquee 40s linear infinite;
  color:#ffffff;
}

.marquee-content span {
  padding-right: 50px; /* Give some space between the two identical pieces of text */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

